@import url('../base/button.css');
@import url('../base/text-box.css');
@import url('../base/section.css');
body {
    font-family: MISAGoogleSans;
    font-size: 13px;
    margin: 24px 24px;
    width: 60%;
    height: 800px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

@font-face {
    font-family: MISAGoogleSans;
    src: url('../content/font/GoogleSans-Regular.otf');
}

@font-face {
    font-family: MISAGoogleSans-Bold;
    src: url('../content/font/GoogleSans-Bold.otf');
}

@font-face {
    font-family: MISAGoogleSans-Italic;
    src: url('../content/font/GoogleSans-Italic.otf');
}